#first {
  color: white;
  background-color: black;
}

#second {
  color: red;
  background: yellow;
}

#three {
  color: rgb(0, 0,255);
  background: rgb(200, 90, 230);
}

#four {
  color: rgb(0, 255, 0, 0, 0.67);
  background: rgb(0, 0, 0, 1);
}

body {
  background: rgb(210, 89, 210, 0.9);
}